<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <p>Realize seu cadastro</p>
    <form action="cadastro" method="post">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="">
        <label for="email">Email:</label>
        <input type="text" name="email" id="">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" id="">
        <button type="submit">Cadastrar</button>
    </form>
</body>
</html>