<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/EditStyle.css">
    <title>Editar Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="form">
                <h2>Altere seu dados</h2>
                <p id="mensagem2"></p>
                <form action="atualizarCadastro" method="post" id="form">
                    <input type="hidden" value="<%= dados.id %>" name="id">
                    <label for="novoNome">Novo Nome :</label>
                    <input type="text" name="novoNome" id=""  placeholder="<%= dados.nome %>" required>
                    <label for="novoNome">Novo Email:</label>
                    <input type="text" name="novoEmail" id="" placeholder="<%= dados.email %>" required>
                    <label for="novaSenha">Nova Senha:</label>
                    <input type="password" name="novaSenha" id="senha" required>
                    <button type="submit">Atualizar cadastro</button>
                    <button><a href="http://localhost:3000/home">Voltar para home</a></button>
                </form>
            </div>
        </div>
    </div>
    <script src="http://localhost:3000/scriptEdit.js"></script>
</body>
</html>