<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Cadastro</title>
</head>
<body>
    <form action="atualizarCadastro" method="post">
        <input type="hidden" value="<%= dados.id %>" name="id">
        <label for="novoNome">Novo Nome:</label>
        <input type="text" name="novoNome" id=""  placeholder="<%= dados.nome %>">
        <label for="novoNome">Novo Email:</label>
        <input type="text" name="novoEmail" id="" placeholder="<%= dados.email %>">
        <label for="novaSenha">Nova Senha:</label>
        <input type="password" name="novaSenha" id="">
        <button type="submit">Atualizar cadastro</button>

    </form>

</body>
</html>