<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/SucStyle.css">
    <title>Home</title>
</head>
<body>
    <div class="container">
        <div class="aside">
            <h1>Olá <%= user.nome %>, seja bem vindo!</h1>
            <form action="editarCadastro" method="post">
                <input type="hidden" name="id" id="" value="<%= user.id %>">
                <button type="submit">Editar Cadastro</button>
            </form> 
            <form action="Excluir" method="post">
                <input type="hidden" name="id" id="" value="<%= user.id %>">
                <button type="submit">Excluir Cadastro</button>
            </form>
            <button><a href="http://localhost:3000/usuarios">Lista de usuários</a></button>
            <button><a href="http://localhost:3000/logout">Encerrar Sessão</a></button>
        </div>
    </div>
</body>
</html>